<mat-toolbar color="primary">
  <!-- <a mat-icon-button href="https://github.com/fugueweb/dapp-dun" target="_blank" title="Github">
    <mat-icon class="example-icon">share</mat-icon>
  </a> -->
    Decentralized Governance
  <!-- <span class="example-spacer"></span>
  <button mat-card-avatar mat-icon-button (click)="onboard()">
    <mat-icon class="example-icon">cast</mat-icon>
  </button> -->

</mat-toolbar>
<app-token></app-token>
<app-governance></app-governance>
<app-help></app-help>
<app-tx></app-tx>
